<h1>Login</h1>


<form action="/login" method="POST">
<div class="form-group">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username">
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="password">
</div>

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Log in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>
