<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">


<h1>How does Feedback work?</h1>

<p>Feedback functions as a version control repository for your demo tracks! Which probably sounds really complicated
  In reality - Feedback is a way of storing new bounces of demos with the ability to refrence previous versions. Each
  version is uploaded into 'Repo', which works like an EP consisting of different versions of the same track. From
  there, each repo belongs to a "collection" which works kind of like an album, but it can be whatever you want it to
  be, from a week of recording, to a year of recording, to all your recordings for a specific project.
</p>


    </div>
  </div>
</div>
