    {{#if user}}


<div class="container-fluid">
  <div class="row row-arrange">
    <div class="col-md-4 col-arrange">
      <h1>{{user.username}}</h1>
      <h2>{{user.repos.length}} Repos Uploaded</h2>
<img src="{{user.image}}" class="img-fluid user-profile-image">

    </div>
    <div class="col-md-2 col-arrange">
      Your Song-Repo's

      <button type="button" class="btn btn-lg track-btn"><a href="/repos/new">Create A Repo</a></button>
      <button type="button" class="btn btn-lg track-btn"><a href="/tracks/upload">Add A Track</a></button>
      <button type="button" class="btn btn-lg track-btn"><a href="/repos/ownerview">View My Repos</a></button>
    </div>
  </div>
</div>


{{else}}

<h3>It looks like you're not signed in! <a href="/login">Sign In Here</a></h3>
    {{/if}}