


<div class="container-fluid">

  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-md-4 user-container col-arrange form-pad">


  <h1>Add a Track</h1>
  <h3>Note: A track must belong to a repo! Create a repo first!</h3>

<form action="/tracks/create" method="POST" enctype="multipart/form-data">
<div class="form-group">
    <label for="">Track Name</label>
    <input type="text" name="trackname" class="form-control">
</div>

<div class="form-group">

    <label for="">Description</label>
    <input type="textarea" name="trackdescription" class="form-control">
</div>

<div class="form-group">

    <label for="">Date Recorded</label>
    <input type="text" name="daterecorded" class="form-control">
</div>

<div class="form-group">

    <label for="">Track File</label>
    <input type="file" name="audiofile" class="form-control-file">
</div>
<div class="form-group">

<label for="">Repo</label>
  <select name="trackrepo">
    {{#each repos}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>  
</div>

    {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>


    <button class="btn btn-info">Submit</button>




</form>
    </div>
  </div>
  </div>